*{
    padding: 0;
    margin: 0;
    color: white;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 20px;
}

h3{
    font-size:18px;
}

p{
    font-size: 14px;
}

body{
    background-image: linear-gradient(darkblue, purple );
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
}

header{
    width:100%;
    height: 200px;
    background: #2B3836 ;
}

nav{
    background-color: rgb(16, 18, 18);
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top: 200px;
}

main{
    width:100%;
    height: 800px;
    
}

article{
    width: 60%;
    height: 800px;
    float: left;

}

aside{
    background: #2B3836 ;
    width: 31%;
    height: 800px;
    float: right;
}

footer{
    width:100%;
    height: 75px;
    background: #2B3836 ;
}

#asideall{
    margin:5%;
    margin-top: 15%;
    padding: 5%;
    width: 80%;
    height: 700px;
    background-color: grey;
}

#asidelist{
    padding-left: 20px;
    background-color: white;
}

#asidelist li{
    color: black;
}

#asidelist li:first-of-type{
    padding-top: 5%;
}

#asidelist li:last-of-type{
    padding-bottom: 5%;
}

#asidecont{
    list-style: none;
}

#asidecont ol{
    margin-bottom: 20px;
}

#mostread{
    background-color: black;
    width: 100%;
    height: 30px;
}


#mostread h1{
    padding-left:20px ;
}

#searchbar{
    width: 100%;
    height: 35px;
    border: none;
    color: black;
}

#ad1{
    width: 135px;
    height: 200px;
    display: inline-block;
    margin-bottom: 5%;
}
#ad2{
    width: 136px;
    height: 200px;
    display: inline-block;
    margin-left: 6%;
    margin-bottom: 5%;
}
#ad3{
    width: 135px;
    height: 200px;
    display: inline-block;
    margin-bottom: 5%;
}
#ad4{
    width: 136px;
    height: 200px;
    display: inline-block;
    margin-left: 6%;
    margin-bottom: 5%;
}


